 <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">Tasty.Buzz © 2017 
           <a href="#" target="_blank" >Terms of Use</a> |
           <a href="#" target="_blank" >Privacy Policy</a>
      </p>

      <a href="#" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
    </div>
</div>
  
 